.proyectos {
    display: flex;
    justify-content: center; /*centra el contenido*/
    
}

.container-proyectos{
    width: 1000px; /*ancho del contenedor*/
    height: 370px;
    padding: 2rem; /*espacio interno*/
    margin-top: 1rem; /*margen superior*/
    line-height: 2rem; /*espacio entre los parrafos*/
    font-size: 22px; /*tamaño de la fuente*/
    margin: 5rem; /*margen superior e inferior*/    
    background-color: rgb(36, 36, 48);
}
@media (max-width: 768px) {
    .proyecto {
        width: calc(100% - 40px); /* Ancho de la tarjeta */
    }

    .proyectos h3 {
        font-size: 1.2rem; /* Ajustar tamaño de fuente para móviles */
    }
}

/* Pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    .proyecto {
        width: calc(50% - 40px); /* Ancho de la tarjeta */
    }

    .proyectos h3 {
        font-size: 1.3rem; /* Ajustar tamaño de fuente */
    }
}

/* Pantallas grandes (desktops) */
@media (min-width: 1024px) {
    .proyecto {
        width: calc(33% - 40px); /* Ancho de la tarjeta */
    }

    .proyectos h3 {
        font-size: 1.4rem; /* Ajustar tamaño de fuente */
    }
}