/* Estilos para la sección de experiencias */
.experiencias {
    display: flex;
    justify-content: center;  /*centra el contenido*/
    padding: 2rem; /*espacio interno*/
    color: azure;  /*color de la fuente*/
}
.container-experiencias {
    width: 150%; /*ancho del contenedor*/
    padding: 2rem; /*espacio interno*/
    margin-top: 1rem; /*margen superior*/
    line-height: 2rem; /*espacio entre los parrafos*/
    font-size: large; /*tamaño de la fuente*/
    margin: 5rem; /*margen superior e inferior*/    
    background-color: rgb(36, 36, 48);
}

.img-cmpt{
    width: 220px; /* Tamaño máximo de la imagen */
}

@media (max-width: 768px) {
    .experiencias {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        padding: 1rem; /* Espacio interno reducido */
        margin-top: 1rem; /* Margen superior reducido */
        font-size: small; /* Tamaño de la fuente más pequeño */
    }

    .container-experiencias {
        width: 100%; /* Ancho del contenedor */
        margin-top: 0rem; /* Margen superior reducido */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .experiencias {
        width: 75%; /* Ancho del contenedor */
    }

    .container-experiencias {
        font-size: 1.2rem; /* Ajuste del tamaño de la fuente */
    }
   
}

@media (min-width: 1024px) {
    .experiencias {
        width: 100%; /* Ancho del contenedor */
        padding: 2rem; /* Espacio interno adecuado */
    }

    .container-experiencias {
        font-size: 1.3rem; /* Tamaño de fuente más grande */
    }
    .titulo {
        justify-content: flex-start;
    }
    .navigation {
        gap: 3rem;
        justify-content: flex-end;
        margin: 0 3rem;
}
}